<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>EventosApp</title>
</head>
<body>

	<h1>Lista de eventos</h1><br>
	<a href="evento">Formulario</a>
	
	<br>
	<br>
	
	<div th:each="evento : ${eventos}">
		<div class="row">
		--------------------------------------------------------
		<br>
			<p>
				<a th:href="${(#mvc.url('EC#detalhesEvento').arg(0, evento.codigo)).build()}">
					<span th:text="${evento.nome}"></span>
				</a>
			</p>
			<p><span th:text="${evento.local}"></span></p>
			<p><span th:text="${evento.data}"></span></p>
			<p><span th:text="${evento.horario_inicio}"></span></p>
		<br>
		--------------------------------------------------------
		</div>
		
	</div>
	
</body>
</html>